main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height:85vh;
    max-width: 100%;
    padding:15px;
}

section {
    margin:8px;
    border: solid 3px gray;
    width: 80vw;
}

h2 {
    margin: 15px;
}

#info-data {
    display:flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-left: 5%;
}

.info {
    margin:15px;
    margin-top: 0px;
    padding: 5px;
    width: 25%;
    border: solid white 2px;
}

.logout {
    text-align: center;
    margin-bottom:15px;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bold;
}

#new-time-form {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

#new-inputs{
    table-layout:fixed;
    width: 90%;
    border-collapse: collapse;
    border: solid white 2px;
}

#past-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#past-table{
    table-layout:fixed;
    width:90%;
    border-collapse: collapse;
    border: solid white 2px;
    margin-bottom:3px;
}

thead th:nth-child(1) {
    width: 18%;
}

thead th:nth-child(2) {
    width:18%;
}

thead th:nth-child(3){
    width:18%;
}

thead th:nth-child(4){
    width:10%;
}

thead th:nth-child(5) {
    width:16%;
}

thead th:nth-child(6) {
    width:20%;
}

tbody tr:nth-child(odd){
    background-color: #FFF;
}

th {
    padding: 3px;
    text-align: center;
    text-justify: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

td {
    padding:2px;
    text-align: center;
    text-justify: center;
}

.table-btns{
    width: 90%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

input {
    width:90%;
    text-align: center;
}

select {
    width:90%;
    text-align: center;
}

.edit-btn {
    width: 45%;
}

.dlt-btn {
    width: 45%;
}

.update-btn {
    width: 45%;
}

.cancel-btn {
    width: 45%;
}

#past-msgs > p {
    text-align: center;
    margin-bottom: 20px;
    font-size: x-small;
}

button[type="submit"] {
    background-color: darkgray;
    color: black;
    font-weight: bold;
    padding:5px;
    border-radius: 10px;
}